<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= pageTitre %></title>
    <link rel="stylesheet" href="/CSS/apropos.css"> 

    <link rel="icon" type="image/x-icon" href="/images/favicon.ico" />
        <!-- Font Awesome icons (free version)-->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        <!-- Google fonts-->
        <link href="https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic" rel="stylesheet" type="text/css" />
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800" rel="stylesheet" type="text/css" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="/CSS/styles.css" rel="stylesheet" />
       
</head>

<!-- Navigation-->
<nav class="navbar navbar-expand-lg navbar-light" id="mainNav">
  <div class="container px-4 px-lg-5">
      <a class="navbar-brand" href="/">CityMarket</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          Menu
          <i class="fas fa-bars"></i>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ms-auto py-4 py-lg-0">
              <li class="nav-item"><a class="nav-link px-lg-3 py-3 py-lg-4" href="/">Home</a></li>
              <li class="nav-item"><a class="nav-link px-lg-3 py-3 py-lg-4" href="/articles">Items</a></li>
              <li class="nav-item"><a class="nav-link px-lg-3 py-3 py-lg-4" href="/panier">Cart</a></li>
              <li class="nav-item"><a class="nav-link px-lg-3 py-3 py-lg-4" href="/apropos">About</a></li>
              <li class="nav-item"><a class="nav-link px-lg-3 py-3 py-lg-4" href="/connexion"><%= page %></a></li>
              <li class="nav-item"><a class="nav-link px-lg-3 py-3 py-lg-4" href="/inscription">Register</a></li>
              <li class="nav-item hidden" id="ID" ><a class="nav-link px-lg-3 py-3 py-lg-4"  href="/admin_articles">Admin</a></li>
          </ul>
      </div>
  </div>
</nav>
<!-- Page Header-->
<header class="masthead" style="background-image: url('/images/propos_background.jpg')"; >
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="site-heading">
                    <h1>About us</h1>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- Bootstrap core JS-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
<!-- Core theme JS-->
<script src="/JS/scripts.js"></script>



<body>
    <center>
        <div class="container">
            <div class="header">
                <h1>Our website</h1>

            <p style="font-size: 25px; font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;">
                City Market is a company focused on the sale of high quality clothing. Founded by professionals in the  fashion industry, with a wide range of  styles and sizes, the materials used to make the clothing 
                are of the highest quality and are carefully selected  to ensure the durability and longevity of our products. 
                The company also strives to provide excellent customer service,  ensuring customers are satisfied. 
                We have a dedicated team to answer all your questions and provide personalized advice. 
                In summary, CityMarket is an affordable clothing site with unbeatable and competitive prices. 
                We will guarantee impeccable customer service and prompt delivery.</p>
            <br><br>

                <h1>Our team</h1>
            </div>
            <div class="sub-container">
                <div class="teams">
                    <img src="images/profileMaxime.JPG" alt="">
                    <div class="name">Maxim Centoritchi</div>
                    <div class="about">Maxim is an experienced and highly skilled web developer with strong expertise in coding languages such as HTML, CSS, JavaScript and PHP. He is passionate about creating dynamic and attractive websites that meet the specific needs of his clients.  </div>
    
                    <div class="social-links">
                        <a href="/fbMaxime"><i class="fa fa-facebook"></i></a>
                        <a href="#"><i class="fa fa-instagram"></i></a>
                        <a href="#"><i class="fa fa-twitter"></i></a>
                        <a href="#"><i class="fa fa-github"></i></a>
                    </div>
                </div>
    
                <div class="teams">
                    <img src="images/Lotfi.JPG" alt="">
                    <div class="name">Lotfi Bensada </div>
                    <div class="about">Lotfi Bensada is a creative and talented designer, with a passion for art and design. He is known for his innovative and original approach to design, as well as his ability to create eye-catching and memorable designs that stand out from the competition.  </div>
    
                    <div class="social-links">
                        <a href="/fbLotfi"><i class="fa fa-facebook"></i></a>
                        <a href="#"><i class="fa fa-instagram"></i></a>
                        <a href="#"><i class="fa fa-twitter"></i></a>
                        <a href="#"><i class="fa fa-github"></i></a>
                    </div>
                </div>
    
                <div class="teams">
                    <img src="images/ayoubSelfie.jpg" alt="" style="height: 13vw; width: 9vw;">
                    <div class="name">Ayoub Foshi</div>
                    <div class="about">Ayoub Foshi is a dynamic and competent team manager, who excels in the coordination and management of complex projects. With his experience in leadership and team management, he knows how to motivate and direct his team to achieve ambitious goals.  </div>
    
                    <div class="social-links">
                        <a href="/fbAyoub"><i class="fa fa-facebook"></i></a>
                        <a href="#"><i class="fa fa-instagram"></i></a>
                        <a href="#"><i class="fa fa-twitter"></i></a>
                        <a href="#"><i class="fa fa-github"></i></a>
                    </div>
                </div>
            </div>
        </div>
          
    </center>
</body>

<script>
    function checkCondition() {
  
      fetch('/getVariableValue')
    .then(response => response.json())
    .then(data => {
      var variableValue = data.variableName;
      console.log(variableValue);
      if(variableValue == true){
        var item = document.getElementById('ID');
        item.style.display = 'block'
      }else{
        item.style.display = 'none'
      }
  
    })
    .catch(error => {
      console.error('Error:', error);
    });
  
  
    }
  window.onload = checkCondition;
  </script>
</html>



      