<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/CSS/connexion.css">
    <link rel="icon" type="image/x-icon" href="/images/favicon.ico" />

        <!-- Font Awesome icons (free version)-->
        <script src="https://use.fontawesome.com/releases/v6.3.0/js/all.js" crossorigin="anonymous"></script>
        <!-- Google fonts-->
        <link href="https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic" rel="stylesheet" type="text/css" />
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800" rel="stylesheet" type="text/css" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="/CSS/styles.css" rel="stylesheet" />
</head>

<!-- Navigation-->
<nav class="navbar navbar-expand-lg navbar-light" id="mainNav">
  <div class="container px-4 px-lg-5">
      <a class="navbar-brand" href="/">CityMarket</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          Menu
          <i class="fas fa-bars"></i>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ms-auto py-4 py-lg-0">
              <li class="nav-item"><a class="nav-link px-lg-3 py-3 py-lg-4" href="/">Home</a></li>
              <li class="nav-item"><a class="nav-link px-lg-3 py-3 py-lg-4" href="/articles">Catalog</a></li>
              <li class="nav-item"><a class="nav-link px-lg-3 py-3 py-lg-4" href="/panier">Cart</a></li>
              <li class="nav-item"><a class="nav-link px-lg-3 py-3 py-lg-4" href="/apropos">About</a></li>
              <li class="nav-item"><a class="nav-link px-lg-3 py-3 py-lg-4" href="/connexion">Login</a></li>
              <li class="nav-item"><a class="nav-link px-lg-3 py-3 py-lg-4" href="/inscription">Sign Up</a></li>
              
          </ul>
      </div>
  </div>
</nav>


<!-- Bootstrap core JS-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
<!-- Core theme JS-->
<script src="/JS/scripts.js"></script>

<body>
  <center>
  <br><br><br><br><br><br>
  <div id="insert" class="box">  
      <div class="inputBox">
   
          <form action="/connecter-utilisateur" method="POST"> 
            <h2>Login</h2>
                <div class="inputBox">
                  <input
                    type="text"
                    id="email"
                    name="email"
                    required
                    minlength="1"
                    maxlength="50"
                    size="20"
                  />
                  <span>Your email address</span>
                  <i></i>
                </div>
                <div class="inputBox">
                  <input
                    type="password"
                    id="password"
                    name="password"
                    required
                    minlength="1"
                    maxlength="50"
                    size="20"
                  />
                  <span>Password</span>
                  <i></i>
                </div>
                <div class="links">
                  <a href="/oublier-mdp"> Forgot password</a>
                  <a href="/inscription">Sign Up</a>
                </div>
          <input type="submit" value="Login">
            </form> 
            
      </div>
</div>
</center>
</body>
<br><br><br><br>
<script>
  
</script>

<script>
  function checkCondition() {

    fetch('/getVariableValue')
  .then(response => response.json())
  .then(data => {
    var variableValue = data.variableName;
    console.log(variableValue);
    if(variableValue == true){
      var item = document.getElementById('ID');
      item.style.display = 'block'
    }else{
      item.style.display = 'none'
    }

  })
  .catch(error => {
    console.error('Error:', error);
  });


  }
window.onload = checkCondition;

</script>
</html>
