body {
  margin-top: 0 !important;
  margin-left: 0 !important;
  margin-right: 0 !important;
  background-size: 15%;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  width: 100%;
}

body::before {
  content: "";
  position: fixed;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.boutonSoumettre {
  border-radius: 50px;
  font-size: 25px;
  color: black;
  padding: 5px 10px 5px;
  background-color: whitesmoke;
  transition: background-color 0.5s ease;
  border: none;
}

.boutonSoumettre:hover {
  background-color: rgb(46, 64, 73);
  color: whitesmoke;
}

.reviews {
  width: 70%;
  margin: 0 auto;
}

#image_client {
  width: 8%;
  height: 8%;
  display: flex;
  margin-left: -10px;
}

.client_review {
  background-color: #7f8c8d;
  color: whitesmoke;
  width: 1250px;
  height: fit-content;
  padding: 10px;
  border-radius: 20px;
  box-shadow: 2px 2px 5px #3d3d3d;
  width: 100%;
}

.contenu_review {
  margin-left: 20px;
}

.client_info {
  display: flex;
  align-items: center;
}

.client_details {
  margin-left: 20px;
}

.creer-review-container {
  width: 70%; /* Adjust this width to match the section width */
  margin: 0 auto; /* Center the container */
  display: flex;
  justify-content: flex-end; /* Align the button to the right */
  padding: 10px 0; /* Add some padding for spacing */
}

#creerReview {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 30px;
  color: black;
  border: none;
  border-radius: 20px;
  padding: 5px 10px;
  background-color: whitesmoke;
  transition: background-color 0.5s ease;
  margin-bottom: 10px;
  cursor: pointer;
}

#creerReview:hover {
  background-color: rgb(60, 95, 112);
  color: whitesmoke;
}

#buttonSoumettre {
  font-size: 22px;
  border: none;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: whitesmoke;
  background-color: rgb(192, 181, 181);
  border-radius: 10px;
  transition: background-color 0.5s ease;
}

#buttonSoumettre:hover {
  background-color: white;
  color: rgb(171, 97, 109);
}

#commentaire {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  width: 1200px;
  height: 100px;
  border: none;
  width: 100%;
}

.hr-container {
  width: 100%;
  clear: both;
}

.hr-container hr {
  margin: 1.5rem 0;
  height: 0;
}

@media (max-width: 768px) {
  .reviews {
    width: 80%;
  }

  .article-container {
    width: 90% !important;
  }
}

@media (max-width: 480px) {
  .contenu_review {
    margin-left: 15px;
  }

  #commentaire {
    height: 80px;
  }
}

.article-container {
  background-color: #7f8c8d;
  border-radius: 30px;
  padding: 30px;
  margin: 20px auto;
  width: 60%;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  box-shadow: 2px 2px 5px #3d3d3d;
  color: whitesmoke;
}

.article-image {
  max-width: 450px;
  width: 100%;
  height: auto;
  margin-right: 30px;
  flex: 1;
  border-radius: 20px;
  box-shadow: 2px 2px 5px #3d3d3d;
}

.article-info {
  flex: 1;
  padding-left: 30px;
}

.article-name {
  font-size: 24px;
  margin-bottom: 10px;
}

.article-description {
  font-size: 18px;
  margin-bottom: 10px;
}

.article-size,
.article-price {
  font-size: 18px;
  margin-bottom: 10px;
}

.add-to-cart {
  background-color: whitesmoke;
  color: black;
  font-size: 18px;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  border-radius: 15px;
  transition: background-color 0.5s ease;
  margin-top: 20px;
}

.add-to-cart:hover {
  background-color: rgb(46, 64, 73);
  color: whitesmoke;
}

@media (max-width: 768px) {
  .article-container {
    flex-direction: column;
  }

  .creer-review-container {
    justify-content: center;
    width: 50%;
  }

  .article-image {
    margin-right: 0;
    margin-bottom: 20px;
  }
}

.hidden {
  display: none;
}
